.body { position : absolute; width : 100vw; height : 100vh; }

.form-wrapper {
	position : absolute;
	top : 50%; left: 50%;
	transform : translate(-50%, -50%);
}

.admin-label { display : inline-block; width : 70px }

.button-wrapper { text-align : center; }